#about {
   position   : relative;
   height     : 1000px;
   margin-top : 50px;
   text-align : center;
}

#about img {
  height: 300px;
  border-radius: 10px;
}

#about p {
  text-align: justify;
}

#about h3 {
  width: 100%;
  border-bottom: 2px solid rgba(176, 55, 55, 0.3);
}

.box {
  height: 550px;
  width: 50%;
  margin: 0;
  opacity: .5;
  transition: .25s;
}

.box:hover {
  opacity: 1;
}

.first-about {
  float: left;
  padding: 0 45px 0 85px;
  border-right: 1px solid rgba(176, 55, 55, 0.3);
}

.second-about {
  float: right;
  padding: 0 85px 0 45px;
  border-left: 1px solid rgba(176, 55, 55, 0.3);
}

.third-about {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0 auto;
  opacity: .5;
  width: 60%;
  transition: .25s;
}

.third-about:hover {
  opacity: 1;
}

.second {
   position: absolute;
   bottom: -22.5%;
   left: 50%;
   transform: translate(-50%, -50%);
   transition       : all 0.5s;
   transition-delay : 250ms;
}

.second:hover {
   opacity    : 1;
   transition : all 1s;
}
