/* Base Styles ------------------------------------------------------*/
* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  color: #fff;
  margin: 0;
  font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 6em;
  text-transform: uppercase;
  font-weight: normal;
  margin: auto;
  height: 120px;
}

h2 {
  font-size: 2.25em;
  text-transform: uppercase;
  font-weight: normal;
  border-bottom: solid 2px #c0211e;
  text-shadow: 0  2px 3px rgba(176, 55, 55, 0.3);
}

h3 {
  text-transform: uppercase;
  font-weight: normal;
  text-shadow: 0  2px 3px rgba(176, 55, 55, 0.3);
}

p {

}

li {
  padding-right: 10px;
  display: inline;
}

/* Pseudo-Classes ---------------------------------------------- */

.main-header a:link {
  text-decoration: none;
  color: #fff;
  transition: all 1s;
}

.main-header a:visited {
  color: #fff;
}

.main-header a:hover {
  color: #c0211e;
  transition: all .5s;
}

a:link {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  transition: all 1s;
}

a:visited {
  color: #fff;
}

.about-us a:link {
  text-decoration: none;
  color: #c0211e;
}

.about-us a:visited {
  color: #c0211e;
}




/* ---------------------------------------------- */


.main-header {
  display: inline-block;
  width: 100%;
  background-color: #111;
  min-width: 1100px;
}

.topleft {
  box-sizing: border-box;
  height: 56px;
  padding: 15px 10px;
  text-transform: uppercase;
  font-weight: bold;
  float: left;
  margin-left: 50px;
}

.topright {
  margin-right: 50px;
  text-transform: uppercase;
  font-weight: bold;
  float: right;
}

.topright li {
  padding: 0 10px;
  border-right: solid 2px white;
}

.main-title {
  background: url('../img/background.jpg') no-repeat center;
  background-size: cover;
  text-align: center;
  box-shadow: inset 0 -50px 50px 20px rgba(17,17,17,0.7),
              inset 0 -50px 100px rgba(17,17,17,1),
              0 20px 100px 50px rgba(17,17,17,1);
  margin-top: -7px;
  padding: 10% 10% 20%;
  min-width: 1100px;
  text-shadow: 0 2px 15px rgba(0,0,0,.7),
               0 2px 2px rgba(0,0,0,.5);
}

.main-title span {
  font-size: 2em;
  font-weight: 500;
  margin: auto;
  padding-top: 5px;
  width: 825px;
  border-top: solid 3px #c0211e;
  display: block;
}

.title-text {
  display: inline-block;
  transition: all 5s ease-in-out;
  transition-delay: 2.5s;
}
.title-text:hover {
  transform: translateY(-10px) scale(1.2);
  transition: all 1s ease-in-out;
}

.arrow {
  width: 150px;
  display: block;
  opacity: 0.3;
}

.first {
  margin: 50px auto;
  padding: 50px 0 0;
  transition: all 0.5s;
  transition-delay: 250ms;
  align-content: center;
}

.first:hover {
  transform: translateY(75px) scale(1.1);
  transition: all 1s;
  opacity: 1;
}

.about-us {
  background-color: rgba(0,0,0,0.3);
  border-radius: 50px 10px;
  border-top: solid 10px #c0211e;
  width: 75%;
  height: 675px;
  min-width: 1300px;
  padding: 5px 50px 50px;
  margin: 100px auto;
  display: block;
  text-align: center;
  position: relative;
}

.about-us::after {
  content: "";
  background: url("../img/britain-flag.jpg");
  background-size: cover;
  border-radius: 50px 10px;
  opacity: 0.05;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;;
  z-index: -1;
}

.about-us h2 {
  width: 90%;
  margin: 10px auto 20px;
  transition: all 1s;
  transition-delay: 2s;
}

.about-us h2:hover {
  transition: all 1s;
  transform: scale(1.05);
  text-shadow: 0 0 7px #c0211e;
}

.first-about {
  width: 43%;
  float: left;
}

.second-about {
  width: 43%;
  float: right;
}

.first-about,
.second-about {
  width: 400px;
  margin: 0 3%;
  text-align: justify;
}

.first-about img,
.second-about img {
  opacity: 0.8;
  width: 400px;
  border-radius: 10px;
  box-shadow: inset 0 0 20px 20px rgba(0,0,0,1)
}

.third-about {
  text-align: justify;
  display: block;
  width: 300px;
  margin: auto;
}

.first-about p,
.second-about p,
.third-about p {
  border-top: solid 2px #c0211e;
  padding-top: 5px;
  margin-top: 3px;
}

.first-about h3,
.second-about h3,
.third-about h3 {
  text-align: center;
  margin-bottom: 0;
}

.second {
  margin: 50px auto;
  transition: all 0.5s;
  transition-delay: 250ms;
}

.second:hover {
  transform: translateY(25px) scale(1.05);
  transition: all 1s;
  opacity: 1;
}
